@import './../../variables.scss';

.pictures_line_img {
  width: 250px;
  height: 250px;
  background-size: cover;
  border-radius: 50%;
  &:hover {
    .pictures_rotate {
      // display: inline;
      opacity: 1;
    }
  }
}

.pictures_line {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.pictures_line_img {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.pictures_line_m {
  margin-bottom: -10px;
  @include fontCursive();
  // text-shadow: 1px 1px 2px #999;
  z-index: 1;
}

.pictures_line_button {
  position: absolute;
  top: 20px;
  font-size: 9px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 5px;
  opacity: 0.5;
  outline: 0;
  height: 30px;
  overflow: hidden;
  line-height: 20px;
  transition: 300ms all;
  box-shadow: 1px 1px 1px #333;
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    background-color: rgba(255, 255, 255, 0.8);
  }
  span {
    display: block;
    transition: 300ms all;
    &:nth-child(2) {
      opacity: 0;
    }
  }
  &:hover {
    border-radius: 25px;
    span:nth-child(1) {
      transform: translateY(-30px);
    }
    span:nth-child(2) {
      opacity: 1;
      transform: translateY(-22px);
    }
  }
  svg {
    width: 20px;
    height: 20px;
    color: #000;
  }
}

// Curved text SVG

.badge-header, .badge-footer {
  letter-spacing: 2px;
}

.badge-percentage {
  -moz-text-shadow:    -5px 5px 0 #555;
  -webkit-text-shadow: -5px 5px 0 #555;
  text-shadow:         -5px 5px 0 #555;
}

svg {
  width: 330px;
  height: 330px;
}

.pictures_line_svg {
  position: absolute;
  z-index: -1;
  // top: -50px;
  bottom: -35px;
}

.pictures_rotate {
  position: absolute;
  top: 160px;
  // right: 0;
  // display: none;
  opacity: 0;
  transition: 600ms all;
  cursor: pointer;
  transform: scaleX(-1);
  svg {
    width: 20px;
    height: 20px;
    color: coral;
  } 
}