@import './variables.scss';

body {
  padding: 20px;
}

.App {
  text-align: center;
  border: 1px solid #eee;
  font-family: 'frutiger';
  padding: 45px;
}

.firstname {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  .firstname_field {
    font-family: 'thinking of betty';
    font-size: 50px;
    margin: 0 60px;
  }
  .trait:nth-child(3) {
    transform: scaleX(-1);
  }
}

.hover {
  cursor: pointer;
  transition: 300ms color;
  &:hover {
    color: coral;
  }
}

.three {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
  .three-second {
    @include font2();
    font-size: 40px;
  }
  .three-date {
    @include font2();
    font-size: 20px;
  }
  .three_title {
    margin-bottom: 15px;
  }
}

button {
  cursor: pointer;
}

.heart {
  position: absolute;
}

.heart2 {
  position: absolute;
  right: 60px;
  transform: scaleX(-1);
}

.pictures_container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  // grid-template-rows: repeat(3, 100px);
  grid-gap: 50px;
  // align-items: center;
  grid-template-areas: 
    "a a b"
    "a a b"
    "c d d";
  align-content: space-between;
  justify-content: space-around;
  // grid-auto-rows: 100px;
  /*
  .pictures_line_img {
    flex: 1 1 1;
    // width: 25%;
  }
  */
}

.pictures_line_img {
  .popin_img {
    position: absolute;
    pointer-events: none;
    margin-top: 0;
  }
}

.generate {
  margin-top: 30px;
  text-align: center;
}

@media print {
  button {
      display: none;
  }
}

.chouchouButton {
  width: 100%;
	max-width: 350px;
	background-color: coral;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	outline: 0;
	border: 0;
	transition: 300ms background-color;
	&:hover {
		background-color: darken(coral, 10%);
	}
}

/*
.bettyInput {
  font-family: 'thinking of betty';
  font-size: 50px;
  border: 1px solid #eee;
  text-align: center;
  height: 150px;
}
*/

.popin_title {
  font-family: 'thinking of betty';
  font-size: 35px;
  color: coral;
  padding: 10px 0 50px;
}