@import './variables.scss';

html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  border: 1px solid #eee;
  // font-family: 'Frutiger';
  padding: 45px;
  -webkit-print-color-adjust: exact;
  width: 1000px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.firstname {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  .firstname_field {
    @include fontCursive();
    font-size: 50px;
    margin: 0px 60px;
  }
  .trait:nth-child(3) {
    transform: scaleX(-1);
  }
}

.hover {
  cursor: pointer;
  transition: 300ms color;
  // position: relative;
  &:hover {
    color: #333;
    &:after {
      opacity: 1;
    }
  }
  &:after {
    content: url(https://www.lesaventuresduchouchou.com/content/baby_milestones/svg/pencil.svg);
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: 300ms opacity;
    position: absolute;
    /*
    top: 0;
    right: 0;
    */
    margin-left: 10px;
  }
}

.three {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  .three_cont {
    width: 33.333%
  }
  .three-second {
    @include fontCursive();
    font-size: 40px;
  }
  .three-date {
    @include fontCursive();
    font-size: 20px;
    line-height: 25px;
    text-transform: lowercase;
    letter-spacing: 2px;
  }
  .three_title {
    margin-bottom: 15px;
  }
}

button {
  cursor: pointer;
}

.heart {
  position: absolute;
}

.heart2 {
  position: absolute;
  right: 60px;
  transform: scaleX(-1);
}

.pictures_container {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  // grid-template-rows: repeat(3, 100px);
  grid-gap: 70px;
  // align-items: center;
  grid-template-areas: 
    "a a b"
    "a a b"
    "c d d";
  align-content: space-between;
  justify-content: space-around;
  height: 960px;
  // grid-auto-rows: 100px;
  /*
  .pictures_line_img {
    flex: 1 1 1;
    // width: 25%;
  }
  */
}

.pictures_line_img {
  .popin_img {
    position: absolute;
    pointer-events: none;
    margin-top: 0;
    /*
    img {
      transform-origin: center;
    }
    */
    .css-5xmhn {
      display: none;
    }
  }
}

.generate {
  margin: 30px 0 100px;
  text-align: center;
}

@media print {
  button, .footer {
      display: none;
  }
  .hover:after {
    display: none;
  }
  .popinDesktop, .dialog__content {
    display: none !important;
  }
}

.chouchouButton {
  width: 100%;
	max-width: 250px;
	background-color: coral;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	outline: 0;
	border: 0;
  height: 40px;
  line-height: 20px;
  transition: 300ms all;
  position: relative;
	&:hover {
    background-color: darken(coral, 10%);
    max-width: 250px;
    border-radius: 25px;
    span:nth-child(1) {
      transform: translateY(-30px);
    }
    span:nth-child(2) {
      opacity: 1;
      transform: translateY(-20px);
    }
  }
  &:focus {
    background-color: darken(coral, 20%);
  }
}

.commonButton {
  overflow: hidden;
  line-height: 20px;
  transition: 300ms all;
  span {
    display: block;
    transition: 300ms all;
    &:nth-child(2) {
      // display: none;
      opacity: 0;
    }
  }
  /*
  &:before {
    content: '';
    background-color: red;
    width: 350px;
    height: 20px;
  }
  */
  &:hover {
    max-width: 350px;
    border-radius: 25px;
    span:nth-child(1) {
      transform: translateY(-30px);
    }
    span:nth-child(2) {
      opacity: 1;
      transform: translateY(-20px);
    }
  }
  svg {
    width: 20px;
    height: 20px;
  }
}

/*
.bettyInput {
  font-family: 'thinking of betty';
  font-size: 50px;
  border: 1px solid #eee;
  text-align: center;
  height: 150px;
}
*/

.popin_title {
  @include fontCursive();
  font-size: 35px;
  color: coral;
  padding: 10px 0 20px;
}

.footer {
  text-align: center;
  font-size: 10px;
  color: #999;
  // line-height: 20px;
  span {
    padding: 0 20px;
  }
  a {
    color: #888;
    transition: 300ms color;
    &:hover {
      color: #666;
    }
  }
}

.popinDesktop {
  align-items: flex-start !important;
  width: 100vw !important;
  opacity: 0;
  pointer-events: none;
  display: none;
  @include breakpoint(mobile) {
    opacity: 1;
    display: block;
  }
  svg {
    color: #ddd;
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  .dialog__overlay {
    opacity: 1;
  }
  .dialog__content {
    opacity: 1;
    background-color: #fff;
    height: 90vh;
    display: flex;
  }
  span {
    padding: 100px;
    margin: 0 auto;
  }
}

.bannerNavigator {
  background-color: palevioletred;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  padding: 5px 0;
  z-index: 1;
}