@import url('https://fonts.googleapis.com/css?family=Lato|Leckerli+One');

@font-face {
  font-family: 'Thinking Of Betty';
  src: url('/fonts/ThinkingOfBetty.eot');
  src: url('/fonts/ThinkingOfBetty.eot?#iefix') format('embedded-opentype'),
      url('/fonts/ThinkingOfBetty.woff2') format('woff2'),
      url('/fonts/ThinkingOfBetty.woff') format('woff'),
      url('/fonts/ThinkingOfBetty.ttf') format('truetype'),
      url('/fonts/ThinkingOfBetty.svg#ThinkingOfBetty') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin fontCursive() {
  font-family: 'Thinking Of Betty', cursive;
}

@mixin fontCursive2() {
  font-family: 'Leckerli One', cursive;
}

@mixin breakpoint($point) {
  @if $point == mobile {
     @media (max-width: 47.95em)  { @content ; } // 767px
  }
  @else if $point == tablet {
    @media (min-width: 48em) { @content ; } // 768px
  }
  @else if $point == desktop {
    @media (min-width: 64em) { @content ; } // 1024px
  }
}